<h1>Login</h1>
<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="Username">
    <input type="password" name="password" id="" placeholder="Password">
    <button>Submit</button>
</form>
<ul><li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li></ul>