<h1>Register Form</h1>
<form action="/register" method="post">
    <input type="text" name="username" id="" placeholder="Username">
    <input type="password" name="password" id="" placeholder="Password">
    <button>Submit</button>
</form>