<img src="https://gustouniversity-my.sharepoint.com/personal/linnlattoo_gusto_edu_mm/Documents/Asset%2030.jpg" style="height: 50%;" alt="">
<ul><li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li></ul>